<% include header %>
  <h1>Twitter app</h1>
  <p>See who is tweeting in the city center of Amsterdam</p>
<button id="clear">Clear</button>
  <section id="language">

  </section>
  <section id="tweets">

  </section>

<% include footer %>
